#corpo {
  padding-left: 5px;
  padding-right: 5px;
}

#tituloNavBar {
  color: white;
}

#versionNavbar {
  font-size: 10px;
}

#barraLogin {
  border-right: 1px solid grey;
  height: 100vw;
}

#infosUser {
  border-bottom: 1px solid #D8D8D8;
}

#upPodcast {
  margin-top: 10px;
}

.painelEscutar {
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
}
